.section {
  width: 100%;
  padding: 70px 20px;
  background: #ffffff;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #ec2024;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.navBtn {
  background: #ec2024;
  color: #fff;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.navBtn:hover {
  background: #06506b;
}

.slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 300px;
  height: 350px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card {
    min-width: 240px;
    height: 290px;
  }

  .title {
    font-size: 1.6rem;
  }

  .navBtn{
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    font-size: 10px;
  }
}
